@import "../colors";

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
  background: transparent;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out;

  & > * {
    cursor: pointer;
  }

  & > img {
    width: fit-content;
  }

  & > p {
    text-transform: capitalize;
    font-weight: bold;
    color: $pokedex-black;
  }

  &:hover {
    transition: background-color 0s ease-in-out;
    background-color: rgba($pokedex-red, 0.25);
  }

  &:focus {
    outline: 1px solid $pokedex-red;
  }
}
