$pokedex-red: #ff6961;
$pokedex-black: #2f2f31;

$type-normal: #aaaa99;
$type-fire: #ff4422;
$type-water: #3399ff;
$type-electric: #ffcc33;
$type-grass: #77cc55;
$type-ice: #66ccff;
$type-fighting: #bb5544;
$type-poison: #aa5599;
$type-ground: #ddbb55;
$type-flying: #8899ff;
$type-psychic: #ff5599;
$type-bug: #aabb22;
$type-rock: #bbaa66;
$type-ghost: #6666bb;
$type-dragon: #7766ed;
$type-dark: #775544;
$type-steel: #aaaabb;
$type-fairy: #ee99ee;
